body {
    font-family: serif;
    background-color: #376c46;
    /* background-color: rgb(222, 232, 243); */
}

div.main {
    /* margin: 30px auto auto 45px; */
    width: 70%;
    margin: 50px auto 0px auto;
    padding: 50px;
    background-color: #f4f5e3;
    box-shadow: 10px 10px;
    /* text-align: center; */
}

div.navbar {
    display: inline-block;
    /* text-align: center; */
    padding: 0px 0px 10px 0px;
    /* background-color: rgb(144, 162, 179); */
}

h1 {
    text-align: left;
    font-size: 35;
    font-family: 'Roboto Mono', monospace;
    /* color: rgb(17, 27, 27); */
}

h3 {
    text-align: left;
    font-size: 10;
    font-family: 'Roboto Mono', monospace;
}

a:visited, a:link {
    color: black;
    text-decoration-line: none;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background: rgb(60, 83, 83);
        color: rgb(222, 232, 243);
    }
    
    .main h1 {
        color: rgb(222, 232, 243);
    }
    
    div.navbar {
        background-color: rgb(17, 27, 27);
        color: rgb(222, 232, 243);
    }
} */